/*div {
  display: block;
}*/

body {
	font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 15px;
  line-height: 1.43;
  color: #29303b;
}

.similarCoursesComponent {
	width: 750px;
	background-color: transparent;
  margin-top: 30px;
  padding: 15px 0;
}

.courseRecommendations {
	width: 470px;
	position: relative;
}

.courseTitle {
  font-size: 22px;
  font-weight: 600;
  margin: 0 0 15px;
}

.similarCourseItemContentContainer {
  padding: 15px;
  position: relative;
  border-top: none;
}

.similarCourseImageContainer {
  float: left;
  overflow: hidden;
  position: relative;
  height: 70px;
  width: 100px;
  display: flex;
  justify-content: start;
  flex-flow: column;
  text-align: center;
}

.lectureTime {
  background-color: hsla(0,0%,100%,.95);
  bottom: 0;
  height: 25px;
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

.courseItemImg {
  left: 50%;
  max-width: none;
  position: absolute;
  transform: translateX(-50%);
}

.similarCourseItemInfoContainer {
  display: flex;
  flex-direction: column;
  min-height: 70px;
}

.similarCourseSubtitleContainer {
  display: inline-block;
  margin-left: 15px;
  width: 85%;
}

.similarCourseName {
	font-weight: 700;
  word-break: break-word;
}

.lastUpdateTime {
  color: #686f7a;
  font-size: 13px;
}


.similarCourseOtherInfoContainer {
	display: flex;
  margin-left: 15px;
  margin-top: 2px;
  min-height: 40px;
  width: 325px;
  justify-content: space-between;
  align-items: flex-start;
}

.similarCourseRating {
  display: flex;
  align-items: flex-start;
}

.starIconImg {
  width: 35%;
}

.similarCoursePurchaseCount {
  display: flex;
  align-items: flex-start;
}

.PurchaseIconImg {
  width: 33%;
}

.similarCoursePriceContainer {
	display: flex;
	justify-content: initial;
	flex-flow: column;	
}

.similarCourseSalesPrice {
	margin-right: 0;
	white-space: nowrap;
	font-weight: 600;
	font-size: 18px;
	color: #29303b;
}

.similarCourseRegPrice {
	margin-right: 10px;
	font-size: 13px;
	font-weight: 400;
	color: #686f7a;
}

.sourceOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.s {
  text-decoration: line-through;
}